<div class="container-fluid">
  <div class="row header">
    <div class="col-xs-2">
      <button class="btn-app btn-prev pull-left glyphicon glyphicon-chevron-left" ng-click="back()"></button>
    </div>
    <div class="col-xs-8 activity-label">Stats</div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4" ng-repeat="stat in stats">
      <div class="activity">
        <h1>{{ stat.value }}</h1>
        <small>{{ stat.name }}</small>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" ng-if="!hasEvent">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary" ng-click="addEvent()">Organize Event</button>
    </div>
  </div>
</div>

<div class="container-fluid" ng-if="hasEvent">
  <div class="row">
    <div class="col-xs-12">
    <p>Users going to this event</p>
      <ul class="user-list">
        <li ng-repeat="user in users.users">
          <img src="./img/logo2.png" class="img-circle center-block">
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid" ng-if="hasEvent">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary">Join Event</button>
    </div>
  </div>